<div class="panel panel-primary">
	<div class="panel-heading"><h2>Countries and Capitals App</h2></div>
	<div class="panel-body text-center">
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />This app is a quick guide for information about different countries.
		<br />
		<br />By clicking on a name, you'll be presented with the population, land area, and capital city of your selected country.
		<br />
		<br />Click below to begin your search
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
	</div>
	<div class="panel-footer buttons">
		<button class="btn btn-info"><a href="#/countries" class="button">Browse Countries</a></button>
	</div>
</div>
