<div class="panel panel-primary">
	<div class="panel-heading">
		<a href="https://en.wikipedia.org/wiki/{{country.countryName}}" target="_blank">
			<h2>{{country.countryName}}</h2>
		</a>
	</div>
  <div class="row">
  	<div class="panel-body text-center">
  		<div class="col-md-4 column">
  			<a class="thumbnail" href="https://en.wikipedia.org/wiki/{{country.countryName}}" target="_blank">
  				<img class="flag img-responsive" width="300" src="http://www.geonames.org/flags/x/{{country.countryCode | lowercase}}.gif" title="Flag of {{country.countryName}}" alt="Flag of {{country.countryName}}">
  			</a>
  		</div>
      <div class="col-md-4 column">
        <div class="table-responsive thumbnail">
      		<table class="table table-hover table-box">
      			<tr class="row alert info">
      				<td class="bold col-md-6">Population of Country:</td>
      				<td class="col-md-6">{{country.population | number: 0}}</td>
      			</tr>
      			<tr class="row alert info">
      				<td class="bold col-md-6">Area:</td>
      				<td class="col-md-6">{{country.areaInSqKm | number: 0}} km<sup>2</sup></td>
      			</tr>
      			<tr class="row alert info">
      				<td class="bold col-md-6">Capital:</td>
              <td class="col-md-6">
        				<span ng-if="country.capital"><a href="https://en.wikipedia.org/wiki/{{country.capital}}" target="_blank">{{country.capital}}</a></span>
        				<span ng-if="!country.capital">N/A</span>
              </td>
      			</tr>
      			<tr class="row alert info">
      				<td class="bold col-md-6">Population of Capital:</td>
      				<td class="col-md-6">{{capital.population | number: 0}}</td>
      			</tr>
      			<tr class="row alert info">
      				<td class="bold col-md-6" ng-if="neighbors.length > '1'">{{neighbors.length}} Neighbors:</td>
      				<td class="bold col-md-6" ng-if="neighbors.length == '1'">{{neighbors.length}} Neighbor:</td>
      				<td class="bold col-md-6" ng-if="neighbors.length == '0'">No Neighbors</td>
      				<td class="col-md-6">
      					<ul>
      						<li ng-repeat="neighbor in neighbors" ng-if="neighbors.length > '0'">
      							<a href="#/countries/{{neighbor.countryCode}}">{{neighbor.countryName}}</a>
      						</li>
      						<li ng-if="neighbors.length == '0'" disabled>N/A</li>
      					</ul>
      				</td>
      			</tr>
      		</table>
        </div>
      </div>
      <div class=" col-md-4 column">
  			<a class="thumbnail" href="http://www.geonames.org/{{country.geonameId}}/{{country.countryName}}.html" target="_blank">
  				<img class="image img-responsive" src="http://www.geonames.org/img/country/250/{{country.countryCode}}.png" title="Map of {{country.countryName}}" alt="Map of {{country.countryName}}">
  			</a>
      </div>
  	</div>
  </div>
	<div class="panel-footer buttons">
		<button class="btn btn-info"><a class="button" href="#/">Home</a></button>
		<button class="btn btn-info"><a class="button" href="#/countries">Browse Countries</a></button>
	</div>
</div>
