<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Countries and Capitals App</h2>
  </div>
  <div class="body">
  <div class="panel-body body text-center">
    This app is a quick guide for information about different countries.
  </div>
  <div class="panel-body body text-center">
    By clicking on a name, you'll be presented with the population, land area, and capital city of your selected country.
  </div>
  <div class="panel-body body text-center">
    Click below to begin your search
  </div>
  </div>
  <div class="panel-footer buttons">
    <button class="btn btn-info">
      <a href="#/countries" class="button">Browse Countries</a>
    </button>
  </div>
</div>
